<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="217994JLabsLLC.Zebrivision" Publisher="CN=DF8AC10B-52D5-49FD-B821-EDEFB5F2A6CE" Version="1.0.0.8" />
  <Properties>
    <DisplayName>Zebrivision</DisplayName>
    <PublisherDisplayName>4JLabs LLC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Multiplication.App">
      <VisualElements DisplayName="Zebrivision" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Zebrivision is a division math game for kids. Play an infinite number of levels that has a limitless possibility for difficulty. Test your division skills with this fun and entertaining game!" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>